# Built/compiled
*.iml
.gradle/
.kotlin/
/build/
**/build/
/sample/release/
captures/
.externalNativeBuild/
.cxx/
*.class
*.jar
!gradle/wrapper/*.jar
*.apk
*.aab
*.aar
*.ap_
*.dex
*.hprof
out/

# Local config
local.properties
/local.properties

# IDE - IntelliJ / Android Studio
.idea/

# OS
.DS_Store
Thumbs.db
